$white: #fff;
$aqua: #7FDBFF;
$navy: #001f3f;
$red: #FF4136;
$green: #4d8066;
$lime: #01FF70;
$orange: #fbcb6a;
$hr-gray: #eee;
$black: #000;
$strikethrough-gray: #888;
$silver: #DDDDDD;
$grey: #AAAAAA;
$purple: #B10DC9;
$teal: #39CCCC;